<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>订货会智能会务系统</title>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/webjars/bootbox.js/5.1.3/dist/bootbox.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">浪漫春天2020春夏发布会报名</h3>
    </div>
    <div class="panel-body">
        <form role="form" id="form" th:action="@{apply}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" th:value="${session.userId}"/>
            <input type="hidden" name="openId" th:value="${session.openId}"/>

            <div class="form-group">
               <label for="shopCode" class="col-sm-2 control-label">店铺代码</label>
               <input type="text" class="form-control" name="shopCode" id="shopCode" required="required"
                      th:value="${user == null ? 'D' : shopCode}" />
           </div>

            <p></p>


               <button type="button" th:if="${user == null}"
                       class="btn btn-primary btn-block" id="submitBtn">提交报名</button>
               <button type="button" th:if="${user != null}"
                       class="btn btn-warning btn-block" id="modifyBtn">修改店铺代码</button>



            <p></p>
            <div th:if="${user != null}">
                <label  class="col-sm-2 control-label">已报名人员</label>
                <ul class="list-group" th:each="participant : ${participants}">
                    <li class="list-group-item" th:if="${participant.attendTraining}"
                        th:text="${participant.name} + '&nbsp&nbsp&nbsp&nbsp 确定参加培训会'"></li>
                    <li class="list-group-item" th:if="${not participant.attendTraining}"
                        th:text="${participant.name}"></li>
                </ul>
                <p></p>
                <button type="button" class="btn btn-warning btn-block" onclick="edit()" >编辑人员信息</button>
            </div>

            <p></p>

       </form>

        <p></p>
        <div>
            <h3 class="panel-title" style="color:#FF0000">报行程截止时间：7月31日</h3>
        </div>

        <p></p>

        <div>
            <p>
                温馨提醒：<br>
                1.本次会务系统与微信绑定，请参会门店在报名、填写行程、报到过程中务必使用同一个微信号扫码，以免影响后续行程。<br>
                2.报名如出现异常情况，麻烦联系区域商品运营专员，谢谢！
            </p>
        </div>
   </div>



</div>
    </body>
<script>

   function edit() {
       $(".panel-body").modal('show');
       window.location.href='/participant/list';
   }

   function toEditRoom() {
       $(".panel-body").modal('show');
       window.location.href='/room/list';
   }

   function toAddSchedule() {
       $(".panel-body").modal('show');
       window.location.href='/schedule/toAdd';
   }

   function toEditSchedule(id) {
       $(".panel-body").modal('show');
       window.location.href="/schedule/toEdit?id=" + id;
   }



   $(function(){

       $('#submitBtn, #modifyBtn').click(function() {
           if($('#form')[0].reportValidity()) {
               $.ajax({
                   type: "GET",
                   url: "/shop/get",
                   data: {
                       "code": $("#shopCode").val()
                   },
                   async: false,
                   //dataType: "json",
                   success: function(data){

                       if (data.length == 0) {

                           bootbox.alert('找不到对应店铺，请确认店铺代码是否正确！');
                           return;
                       } else {
                           /*bootbox.confirm(data.name + " 确认报名？",
                               function(result){
                               if(result) {
                                   $(".panel-body").modal('show');
                                   $('#repairForm').submit();
                               }
                           });*/

                           bootbox.confirm({
                               message: data.code + "  " +  data.name + " 确认报名？",
                               buttons: {
                                   confirm: {
                                       label: '确认',
                                       className: 'btn-success'
                                   },
                                   cancel: {
                                       label: '取消',
                                       className: 'btn-danger'
                                   }
                               },
                               callback: function (result) {
                                   if(result) {
                                       $(".panel-body").modal('show');
                                       $('#form').submit();
                                   }
                               }
                           });
                       }
                   }
               });
           }


       })

   });

</script>
</html>