<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>订货会智能会务系统</title>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/webjars/bootbox.js/5.1.3/dist/bootbox.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />


</head>
<body>
<div class="panel panel-info" th:each="participant, state : ${participants}">
    <div class="panel-heading">
        <h3 class="panel-title" th:text="已报名人员 + ${state.index + 1}"></h3>
    </div>
    <div class="panel-body">
        <span  th:if="${participant.attendTraining}"
               th:text="${participant.name} + '&nbsp&nbsp&nbsp&nbsp'
        + ${participant.mobile} + '&nbsp&nbsp&nbsp&nbsp' + ${participant.sex.getDesc()
         + '&nbsp&nbsp&nbsp&nbsp 确定参加培训会'}"></span>
        <span  th:if="${not participant.attendTraining}"
               th:text="${participant.name} + '&nbsp&nbsp&nbsp&nbsp'
        + ${participant.mobile} + '&nbsp&nbsp&nbsp&nbsp' + ${participant.sex.getDesc()}"></span>
        <p></p>
        <p>
            <button type="button" class="btn btn-primary " th:onclick="'javascript:toEdit('+${participant.id}+')' ">修改</button>
            <button type="button" class="btn btn-danger " th:onclick="'javascript:remove('+${participant.id}+')' ">删除</button>
        </p>
    </div>
</div>

    <div class="col-md-4 text-center">
        <button type="button" class="btn btn-primary btn-lg" onclick="toAdd()">添加人员</button>
        <button type="button" onclick="goBack()" class="btn btn-info btn-lg">返回</button>
    </div>

</body>
<script th:inline="javascript">

    function goBack() {
        $(".panel-body").modal('show');
        window.location.href='/user/toApply';
    }

    function toAdd() {
        window.location.href='/participant/toAdd';
    }

    function toEdit(id) {
        window.location.href="/participant/toEdit?id=" + id;
    }

/*

    function remove(id) {

        bootbox.confirm({
            message: "确认删除？",
            buttons: {
                confirm: {
                    label: '确认',
                    className: 'btn-success'
                },
                cancel: {
                    label: '取消',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if(result) {
                    $(".panel-body").modal('show');
                    $.ajax({
                        type: "POST",
                        url: "/participant/delete?id=" + id,
                        //async: false,
                        success: function(data){
                            window.location.href='/participant/list';
                        }
                    });
                }
            }
        });
    }
*/


</script>
</html>