<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>订货会智能会务系统</title>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/webjars/bootbox.js/5.1.3/dist/bootbox.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />


</head>
<body>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">填写行程信息</h3>
    </div>
    <div class="panel-body">
        <form role="form" id="form" th:action="@{add}" method="post"  >

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    来程信息
                </h3>
            </div>
            <div class="panel-body">
                <input type="hidden" name="id" th:value="${schedule == null ? '' : schedule.id}"/>
                   <input type="hidden" name="userId" th:value="${schedule == null ? session.userId : schedule.userId}"/>

                <div class="form-group">
                    <label for="arrivedTravelMode">出行方式</label>
                    <select name="arrivedTravelMode" id="arrivedTravelMode" class="form-control" required>
                        <option></option>
                        <option th:each="type : ${T(com.honji.exhibition.enums.TravelModeEnum).values()}"
                                th:value="${type}" th:text="${type.desc}"
                                th:selected="${schedule != null && type eq schedule.arrivedTravelMode}">
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="arrivedNum" class="control-label">航班/班次</label>
                    <input type="text" class="form-control" name="arrivedNum" id="arrivedNum" th:value="${schedule == null ? '' : schedule.arrivedNum}" />
                </div>

                <div class="form-group">
                    <label for="arrivedTime" class="control-label">到达时间</label>
                    <input type="datetime-local" class="form-control" name="arrivedTime" id="arrivedTime" required="required" th:value="${schedule == null ? '' : schedule.arrivedTime}" />
                </div>

                <div class="form-group">
                    <label for="arrivedPickUpStation">接送站点</label>
                    <select class="form-control" name="arrivedPickUpStation" id="arrivedPickUpStation" required>
                        <option></option>
                        <option th:each="type : ${T(com.honji.exhibition.enums.StationEnum).values()}"
                                th:value="${type}" th:text="${type.desc}"
                                th:selected="${schedule != null && type eq schedule.arrivedPickUpStation}">
                        </option>
                    </select>
                </div>
            </div>

        </div>


        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    返程信息
                </h3>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label for="arrivedTravelMode">出行方式</label>
                    <select name="leavedTravelMode" id="leavedTravelMode" class="form-control"  required>
                        <option></option>
                        <option th:each="type : ${T(com.honji.exhibition.enums.TravelModeEnum).values()}"
                                th:value="${type}" th:text="${type.desc}"
                                th:selected="${schedule != null && type eq schedule.leavedTravelMode}">
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="leavedNum" class="control-label">航班/班次</label>
                    <input type="text" class="form-control" name="leavedNum" id="leavedNum" th:value="${schedule == null ? '' : schedule.leavedNum}" />
                </div>

                <div class="form-group">
                    <label for="leavedTime" class="control-label">返程时间</label>
                    <input type="datetime-local" class="form-control" name="leavedTime" id="leavedTime" required="required" th:value="${schedule == null ? '' : schedule.leavedTime}" />
                </div>

                <div class="form-group">
                    <label for="leavedPickUpLocation">返程接送地</label>
                    <select class="form-control" name="leavedPickUpLocation" id="leavedPickUpLocation" required>
                        <option></option>
                        <option th:each="type : ${T(com.honji.exhibition.enums.LeavePickUpLocationEnum).values()}"
                                th:value="${type}" th:text="${type.desc}"
                                th:selected="${schedule != null && type eq schedule.leavedPickUpLocation}">
                        </option>
                    </select>
                </div>


                <div class="form-group">
                    <label for="leavedStation">返程站点</label>
                    <select class="form-control" name="leavedStation" id="leavedStation" required>
                        <option></option>
                        <option th:each="type : ${T(com.honji.exhibition.enums.LeaveStationEnum).values()}"
                                th:value="${type}" th:text="${type.desc}"
                                th:selected="${schedule != null && type eq schedule.leavedStation}">
                        </option>
                    </select>
                </div>
            </div>
        </div>

            <div class="col-md-4 text-center">
                <button type="submit" class="btn btn-primary btn-lg" id="submitBtn">保存</button>
                <button type="button" onclick="goBack()" class="btn btn-info btn-lg">取消</button>
            </div>

        </form>
   </div>



</div>
    </body>
<script>

    function goBack() {
        window.location.href='/user/toApply';
    }


   $(function(){


   });

</script>
</html>