<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>订货会智能会务系统</title>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/webjars/bootbox.js/5.1.3/dist/bootbox.min.js"></script>
    <script src="/webjars/bootstrap-fileinput/5.0.1/js/fileinput.min.js"></script>
    <script src="/webjars/bootstrap-fileinput/5.0.1/js/locales/zh.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/webjars/bootstrap-fileinput/5.0.1/css/fileinput.min.css" />
    <link rel="stylesheet" href="/webjars/weui/1.1.2/dist/style/weui.min.css" />

</head>
<body>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">填写行程信息</h3>
    </div>
    <div class="panel-body">
        <form role="form" id="form" th:action="@{add}" method="post" enctype="multipart/form-data" >

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        来程信息
                    </h3>
                </div>
                <div class="panel-body">
                    <input type="hidden" name="id" th:value="${schedule == null ? '' : schedule.id}"/>
                    <input type="hidden" name="userId" th:value="${schedule == null ? session.user.id : schedule.userId}"/>

                    <div class="form-group">
                        <label for="arrivedTravelMode">出行方式</label>
                        <select name="arrivedTravelMode" id="arrivedTravelMode" class="form-control" required>
                            <option></option>
                            <option th:each="type : ${T(com.honji.exhibition.enums.TravelModeEnum).values()}"
                                    th:value="${type}" th:text="${type.desc}"
                                    th:selected="${schedule != null && type eq schedule.arrivedTravelMode}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="arrivedNum" class="control-label">航班/班次</label>
                        <input type="text" class="form-control" name="arrivedNum" id="arrivedNum" minlength="2" maxlength="6"
                               th:value="${schedule == null ? '' : schedule.arrivedNum}" required />
                    </div>

                    <div class="form-group">
                        <label for="arrivedTime" class="control-label">到达时间</label>
                        <input type="datetime-local" class="form-control" name="arrivedTime" id="arrivedTime" required="required"
                               th:min="${scheduleTimeConfig.arriveStartTime}" th:max="${scheduleTimeConfig.arriveEndTime}"
                               th:value="${schedule == null ? scheduleTimeConfig.arriveStartTime : schedule.arrivedTime}" />
                    </div>

                    <div class="form-group">
                        <label for="arrivedPickUpStation">接送站点</label>
                        <select class="form-control" name="arrivedPickUpStation" id="arrivedPickUpStation" required>
                            <option></option>
                            <option th:each="type : ${T(com.honji.exhibition.enums.StationEnum).values()}"
                                    th:value="${type}" th:text="${type.desc}"
                                    th:selected="${schedule != null && type eq schedule.arrivedPickUpStation}">
                            </option>
                        </select>
                    </div>
                </div>

            </div>


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        返程信息
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <label for="arrivedTravelMode">出行方式</label>
                        <select name="leavedTravelMode" id="leavedTravelMode" class="form-control" required>
                            <option></option>
                            <option th:each="type : ${T(com.honji.exhibition.enums.TravelModeEnum).values()}"
                                    th:value="${type}" th:text="${type.desc}"
                                    th:selected="${schedule != null && type eq schedule.leavedTravelMode}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="leavedNum" class="control-label">航班/班次</label>
                        <input type="text" class="form-control" name="leavedNum" id="leavedNum" minlength="2" maxlength="6"
                               th:value="${schedule == null ? '' : schedule.leavedNum}" required/>
                    </div>

                    <div class="form-group">
                        <label for="leavedTime" class="control-label">返程时间</label>
                        <input type="datetime-local" class="form-control" name="leavedTime" id="leavedTime" required="required"
                               th:min="${scheduleTimeConfig.arriveStartTime}" th:max="${scheduleTimeConfig.arriveEndTime}"
                               th:value="${schedule == null ? scheduleTimeConfig.arriveStartTime : schedule.leavedTime}" />
                    </div>

                    <div class="form-group">
                        <label for="leavedPickUpLocation">返程出发地</label>
                        <select class="form-control" name="leavedPickUpLocation" id="leavedPickUpLocation" required>
                            <option></option>
                            <option th:each="type : ${T(com.honji.exhibition.enums.LeavePickUpLocationEnum).values()}"
                                    th:value="${type}" th:text="${type.desc}"
                                    th:selected="${schedule != null && type eq schedule.leavedPickUpLocation}">
                            </option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="leavedStation">返程站点</label>
                        <select class="form-control" name="leavedStation" id="leavedStation" required>
                            <option></option>
                            <option th:each="type : ${T(com.honji.exhibition.enums.LeaveStationEnum).values()}"
                                    th:value="${type}" th:text="${type.desc}"
                                    th:selected="${schedule != null && type eq schedule.leavedStation}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <!--<input id="input-id" type="file" name="file" data-preview-file-type="text" data-msg-placeholder="上传来程班次图片" >
-->
<!--
            <div class="page__bd">
                <div class="weui-gallery" id="gallery">
                    <span class="weui-gallery__img" id="galleryImg"></span>
                    <div class="weui-gallery__opr">
                        <a href="javascript:" class="weui-gallery__del">
                            <i class="weui-icon-delete weui-icon_gallery-delete"></i>
                        </a>
                    </div>
                </div>

                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <div class="weui-uploader">
                                <div class="weui-uploader__hd">
                                    <p class="weui-uploader__title">图片上传</p>
                                    <div class="weui-uploader__info">0/2</div>
                                </div>
                                <div class="weui-uploader__bd">
                                    <ul class="weui-uploader__files" id="uploaderFiles">

                                    </ul>
                                    <div class="weui-uploader__input-box">
                                        <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->
            <input type="hidden" name="picture1" id="picture1" th:value="${schedule == null ? '' : schedule.picture1}">
            <input type="hidden" name="picture2" id="picture2" th:value="${schedule == null ? '' : schedule.picture2}">

            <div class="col-md-4 text-center">
                <button type="button" class="btn btn-primary btn-lg" id="submitBtn">保存</button>
                <button type="button" onclick="goBack()" class="btn btn-info btn-lg">取消</button>
            </div>

        </form>
    </div>

</div>
</body>
<script th:inline="javascript">

    var fileArr=new Array();
    var pictureSize = 0;

    $(function(){

        if ([[${schedule}]] == null) {//新增行程默认返程出发地为“公司”
            $('#leavedPickUpLocation option[value=COMPANY]')[0].selected=true;
        }
        var tmpl = '<li class="weui-uploader__file" style="background-image:url(#url#)"></li>',
            $gallery = $("#gallery"), $galleryImg = $("#galleryImg"),
            $uploaderInput = $("#uploaderInput"),
            $uploaderFiles = $("#uploaderFiles");

        var picture1 = $('#picture1').val();
        var picture2 = $('#picture2').val();
        if (picture1.length > 1) {

            //return new File([u8arr], "asd", {type:mime});
            $uploaderFiles.append($(tmpl.replace('#url#', "/schedule/show")));
            pictureSize = pictureSize + 1;
        }

        if (picture2.length > 1) {
            $uploaderFiles.append($(tmpl.replace('#url#', "/schedule/show")));
            pictureSize = pictureSize + 1;
            $(".weui-uploader__input-box").hide();
        }



        $uploaderInput.on("change", function(e){
            //console.log(33333);
            var src, url = window.URL || window.webkitURL || window.mozURL, files = e.target.files;
            var length=fileArr.length;
            for (var i = 0, len = files.length; i < len; ++i) {
                var file = files[i];
                if(length + i + 1 > 2) {
                    break;
                }
                pictureSize = pictureSize + 1;
                fileArr.push(file);
                if (url) {
                    src = url.createObjectURL(file);
                } else {
                    src = e.target.result;
                }
                $uploaderFiles.append($(tmpl.replace('#url#', src)));
            }
            checkPhotoSize();
        });

        //控制显示三张以内照片
        function checkPhotoSize(){
            if(pictureSize > 1){
                //console.log("hide box");
                $(".weui-uploader__input-box").hide();
            }else{
                //console.log("show box");
                $(".weui-uploader__input-box").show();
            }
        };


        var index; //第几张图片
        $uploaderFiles.on("click", "li", function(){
            index = $(this).index();
            $galleryImg.attr("style", this.getAttribute("style"));
            $gallery.fadeIn(100);
        });
        $gallery.on("click", function(){
            $gallery.fadeOut(100);
        });

        //删除图片
        $(".weui-gallery__del").click(function() {
            console.log(index);
            $uploaderFiles.find("li").eq(index).remove();
            fileArr.splice(index,1);
            pictureSize = pictureSize - 1;
            checkPhotoSize();
        });

        $('#leavedTime').change(function () {

            if (this.value > [[${scheduleTimeConfig.arriveStartTime}]]) {
                $('#leavedPickUpLocation option[value=HOTEL]')[0].selected=true;
            } else {
                $('#leavedPickUpLocation option[value=COMPANY]')[0].selected=true;
            }
        });

        $('#arrivedTravelMode').change(function () {
            switch (this.value) {
                case 'PLANE':
                    $('#arrivedPickUpStation option[value=AIRPORT]')[0].selected=true;
                    $('#arrivedNum').val('');
                    break;
                case 'HIGH_SPEED_RAIL':
                    $('#arrivedPickUpStation option[value=HIGH_SPEED_RAIL_STATION]')[0].selected=true;
                    $('#arrivedNum').val('');
                    break;
                case 'TRAIN':
                    $('#arrivedPickUpStation option[value=TRAIN_STATION]')[0].selected=true;
                    $('#arrivedNum').val('');
                    break;
                default:
                    $('#arrivedNum').val('无');
                    $('#arrivedPickUpStation option[value=NONE]')[0].selected=true;
            }
        });

        $('#leavedTravelMode').change(function () {
            switch (this.value) {
                case 'PLANE':
                    $('#leavedNum').val('');
                    $('#leavedStation option[value=AIRPORT]')[0].selected=true;
                    break;
                case 'HIGH_SPEED_RAIL':
                    $('#leavedNum').val('');
                    $('#leavedStation option[value=HIGH_SPEED_RAIL_STATION]')[0].selected=true;
                    break;
                case 'TRAIN':
                    $('#leavedNum').val('');
                    $('#leavedStation option[value=TRAIN_STATION]')[0].selected=true;
                    break;
                default:
                    $('#leavedNum').val('无');
                    $('#leavedPickUpLocation option[value=NONE]')[0].selected=true;
                    $('#leavedStation option[value=NONE]')[0].selected=true;
            }
        });

/*

        $("#input-id").fileinput({
            language : 'zh',
            showUpload: false,
            dropZoneEnabled: false,
            maxFileSize: 1000,
            allowedFileExtensions: ["jpg", "png"]
        });
*/


        $('#submitBtn').click(function() {
            if($('#form')[0].reportValidity()) {
                //var arrivedTravelMode = $('#arrivedTravelMode').val();
               /* var formData = new FormData($("#form")[0]);
                if(fileArr.length!=0){
                    //var formData = new FormData();
                    for(var i = 0;i<fileArr.length;i++){
                        //console.log(fileArr[i]);
                        formData.append("files[]",fileArr[i]);
                    }
                    $.ajax({
                        url: "/schedule/add",
                        type: "POST",
                        async: false,
                        cache: false,
                        processData: false,// 告诉jQuery不要去处理发送的数据
                        contentType: false,// 告诉jQuery不要去设置Content-Type请求头
                        data: formData,
                        success: function(data){
                        }
                    });
                }*/
                $(".panel-body").modal('show');
                $('#form').submit();
            }
        });

    });

    function goBack() {
        $(".panel-body").modal('show');
        window.location.href='/user/toApply';
    }


</script>
</html>